# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Environment variables
.env

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Other
*.bak
*.tmp
